{% extends "base.html" %}

{% block content %}
   <!-- ###################### Detail Section Begin ###################### -->
   <div class="container">
        <div class="d-flex justify-content-center py-5">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:80%; height: auto;">
        </div>
        <small> {{ product.create_at }} </small>
        <h2>{{ product.name }}</h2>
        <p class="pb-5">
            {{ product.description }}
        </p>
    </div>
<!-- ###################### Detail Section End ###################### -->
{% endblock %}